<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycw.ssm.blog.mapper.NoticeMapper">

    <select id="findAll" resultType="Notice">
        SELECT * from notice
    </select>

    <select id="getNoticeById" parameterType="Integer" resultType="Notice">
        SELECT * FROM notice WHERE notice_id = #{noticeId}
    </select>

    <select id="update" parameterType="Notice">
        UPDATE notice
        SET notice.notice_title = #{noticeTitle}, notice.notice_content = #{noticeContent}, notice.notice_order = #{noticeOrder}, notice.notice_status = #{noticeStatus}, notice.notice_update_time = #{noticeUpdateTime}
        WHERE notice.notice_id = #{noticeId}
    </select>

    <delete id="deleteByNoticeId" parameterType="Integer">
        DELETE from notice WHERE notice_id = #{noticeId}
    </delete>

    <insert id="insert" parameterType="Notice">
        INSERT INTO notice(notice_title, notice_content, notice_create_time, notice_update_time, notice_order)
        VALUES (#{noticeTitle}, #{noticeContent}, #{noticeCreateTime}, #{noticeUpdateTime}, #{noticeOrder})
    </insert>

</mapper>
